<h1 class="main-heading">Členové</h1>

<div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter"/>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addMember()">
        <span fxShow.xs="false">Přidat nového člena</span>
        <mat-icon fxShow.xs="true" fxShow.gt-xs="false">add</mat-icon>
    </button>
</div>
@if (loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Jméno</th>
        <td mat-cell *matCellDef="let element">
            <a [routerLink]="['/edit-member/' + element.id]" routerLinkActive="router-link-active"
               class="link-name">{{ element.name }}
                {{ element.surname }}</a>
        </td>
    </ng-container>

    <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
        <td mat-cell *matCellDef="let element">{{ element.role }}</td>
    </ng-container>

    <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Věk</th>
        <td mat-cell *matCellDef="let element">{{ element.age }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Adresa</th>
        <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef fxHide.xs="true">
            Kontakt
        </th>
        <td mat-cell *matCellDef="let element" fxHide.xs="true">
            {{ element.contact }}
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Akce</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button matTooltip="Detail člena" matTooltipPosition="right" aria-label="Detail člena"
                    (click)="editMember(element.id)">
                <mat-icon>visibility</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Odstranit člena" matTooltipPosition="right"
                    aria-label="Odstranit člena" (click)="openDialog(element)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>