.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 240px;
    box-shadow: 0 4px 24px 0 rgba(34, 41, 47, .1);
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 65px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;

    &.toppanel-part {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    }
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.mat-icon {
    margin: 0 16px 0 2px;
}

.mdc-list-item mat-icon{
    vertical-align: bottom;
}

.mat-drawer-side {
    border: none;
}

.schoolyear-select {
    margin-left: 4px;
}

.schoolyear-select-wrapper {
    background-color: #263238;
}

.navigation-fab-button {
    position: fixed;
    z-index: 1;
    left: 50px;
    bottom: 50px;

    .mat-icon {
        margin: 0;
    }
}