<h1 class="main-heading">Schůzky</h1>

<div fxLayout="column" fxLayoutGap="16px">
    <div fxLayout="row" class="page-actions" fxLayoutGap="16px" fxLayoutAlign="start center">
        <button mat-raised-button color="primary" (click)="addMeeting()">Přidat
            schůzku</button>
    </div>
    <div>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum</th>
                <td mat-cell *matCellDef="let element">{{ element.date }}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Popis</th>
                <td mat-cell *matCellDef="let element">{{ element.description }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Akce</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" matTooltip="Upravit" matTooltipPosition="right"
                        aria-label="Upravit" (click)="editMeeting(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" matTooltip="Odstranit" matTooltipPosition="right"
                        aria-label="Odstranit" (click)="deleteMeeting(element.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
</div>