<div fxLayout="row" fxLayoutAlign="space-between center">
    <h1>Bodování oddílu Zálesák Ždánice</h1>
    <div>
        <mat-form-field appearance="fill" class="schoolyear-select">
            <mat-label>Vybraný školní rok</mat-label>
            <mat-select [(value)]="selectedSchoolyear" (selectionChange)="updateSchoolyear($event.value)">
                <mat-option *ngFor="let sy of schoolyears" [value]="sy.id">{{sy.label}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
<div class="table-container mat-elevation-z4">
    <mat-tab-group>
        <mat-tab label="Bodování">
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
            <table mat-table [dataSource]="dataSource" #pointsSort="matSort" matSort class="mat-elevation-z1">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Jméno člena</th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/bodovani/' + element.member_id]" routerLinkActive="router-link-active" class="link-name">
                            {{ element.name }} {{ element.surname }}
                        </a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="sum_points_schoolyear">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Body</th>
                    <td mat-cell *matCellDef="let element">
                        <div fxLayout="row" class="colored-bar-wrapper">
                            <div class="colored-bar" [style.width.px]="element.sum_points_schoolyear * 10"
                                [style.backgroundColor]="element.color"></div>
                            <div>{{ element.sum_points_schoolyear }} b.</div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns"
                    [ngClass]="{'gray': !even}"></tr>
            </table>
        </mat-tab>
        <mat-tab label="Odznaky">
            <table mat-table [dataSource]="badgeDataSource" #badgeSort="matSort" matSort class="mat-elevation-z1">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Jméno člena</th>
                    <td mat-cell *matCellDef="let element">
                        <a [routerLink]="['/bodovani/' + element.id]" routerLinkActive="router-link-active"
                            class="link-name">{{ element.name }}
                            {{ element.surname }}</a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="badges">
                    <th mat-header-cell *matHeaderCellDef> Získané odznaky </th>
                    <td mat-cell *matCellDef="let row">
                        <img *ngFor="let b of row.badge" matTooltip="{{b.name}}" matTooltipPosition="above"
                            class="badge-table" src="/assets/badges/{{b.logo}}" />
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedBadgesColumns"></tr>
                <tr mat-row *matRowDef="let row; let even = even; columns: displayedBadgesColumns"
                    [ngClass]="{'gray': !even}"></tr>


            </table>
        </mat-tab>
    </mat-tab-group>
</div>