:host {
    display: block;
    margin: 20px;
}

table {
    td {
        font-size: xx-large;
    }
    .mat-mdc-row {
        height: 70px;
    }
}

.mat-tab-label-content {
    font-size: 16px;
}

.link-name {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.colored-bar {
    height: 42px;
    margin-right: 10px;
    border-radius: 5px;
}

.colored-bar-wrapper {
    align-items: center;
}