<h1>Docházka</h1>
<div fxLayout="column" fxLayoutGap="24px grid">
    <div fxLayout="row wrap" fxLayoutGap="24px grid">
        <kpi-card [settings]="attendanceKpi" fxFlex.gt-md="25" fxFlex.gt-sm="33" fxFlex.gt-xs="50"
                  fxFlex="100"></kpi-card>
        <kpi-card [settings]="registeredMembersKpi" fxFlex.gt-md="25" fxFlex.gt-sm="33" fxFlex.gt-xs="50"
                  fxFlex="100"></kpi-card>
        <kpi-card [settings]="averageAttendanceKpi" fxFlex.gt-md="25" fxFlex.gt-sm="33" fxFlex.gt-xs="50"
                  fxFlex="100"></kpi-card>
        <kpi-card [settings]="birthdayKpi" fxFlex.gt-md="25" fxFlex.gt-sm="33" fxFlex.gt-xs="50"
                  fxFlex="100"></kpi-card>
    </div>
    <div fxLayout="row" fxLayoutGap="24px">
        <div fxFlex.gt-lg="66" fxFlex.gt-md="51" fxFlex="100">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Průměrná docházka</mat-card-title>
                    <mat-card-subtitle>V tomto školním roce</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div echarts [options]="averageAttendanceOptions" class="demo-chart"></div>
                </mat-card-content>
                <mat-card-footer>
                    @if (membersLoading) {
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    }
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex.gt-lg="33" fxFlex.gt-md="48" fxFlex="100" fxLayout="column">
            <div fxFlex="100">
                <mat-card appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Věk členů</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div echarts [options]="membersAgeOptions" class="demo-chart"></div>
                    </mat-card-content>
                    <mat-card-footer>
                        @if (membersLoading) {
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        }
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayoutGap="24px">
        <div fxFlex.gt-lg="66" fxFlex.gt-md="51" fxFlex="100">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        Členové v tomto školním roce
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    @if (membersLoading) {
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    }
                    <table mat-table [dataSource]="membersDatasource" matSort>
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Jméno</th>
                            <td mat-cell *matCellDef="let element">
                                <a [routerLink]="['/edit-member/' + element.id]" class="link-name">{{ element.name }}
                                    {{ element.surname }}</a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="role">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                            <td mat-cell *matCellDef="let element">{{ element.role }}</td>
                        </ng-container>

                        <ng-container matColumnDef="age">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Věk</th>
                            <td mat-cell *matCellDef="let element">{{ element.getAge() }}</td>
                        </ng-container>

                        <ng-container matColumnDef="attendancePercentage">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>Docházka</th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.attendance.percentage }} % ({{ element.attendance.meetingsAttended }}/{{ element.attendance.meetingsCount }})
                                <mat-progress-bar mode="determinate" [ngClass]="getColorClass(element.attendance.percentage)"
                                                  value="{{ element.attendance.percentage }}"></mat-progress-bar>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="membersColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: membersColumns"></tr>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex.gt-lg="33" fxFlex.gt-md="48" fxFlex="100">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>Počet členů</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div echarts [options]="membersCountOptions" [loading]="membersLoading" class="demo-chart">
                    </div>
                </mat-card-content>
                <mat-card-footer>
                    @if (membersLoading) {
                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    }
                </mat-card-footer>
            </mat-card>
        </div>
    </div>
</div>