<h1>Docházka</h1>
<div fxLayout="column" fxLayoutGap="24px grid">
    <div fxLayout="row wrap" fxLayoutGap="24px grid">
        <kpi-card [settings]="attendanceKpi" fxFlex.gt-md="25" fxFlex.gt-sm="33" fxFlex.gt-xs="50"
            fxFlex="100"></kpi-card>
        <kpi-card [settings]="registeredMembersKpi" fxFlex.gt-md="25" fxFlex.gt-sm="33" fxFlex.gt-xs="50"
            fxFlex="100"></kpi-card>
        <kpi-card [settings]="averageAttendanceKpi" fxFlex.gt-md="25" fxFlex.gt-sm="33" fxFlex.gt-xs="50"
            fxFlex="100"></kpi-card>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="24px grid">
        <div fxFlex.gt-lg="66" fxFlex.gt-md="51" fxFlex="100">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Průměrná docházka</mat-card-title>
                    <mat-card-subtitle>V tomto školním roce</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div echarts [options]="averageAttendanceOptions" class="demo-chart"></div>
                </mat-card-content>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate" *ngIf="membersLoading"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex.gt-lg="33" fxFlex.gt-md="48" fxFlex="100">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Počet členů</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div echarts [options]="membersCountOptions" [loading]="membersLoading" class="demo-chart"></div>
                </mat-card-content>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate" *ngIf="membersLoading"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex.gt-lg="33" fxFlex.gt-md="48" fxFlex="100">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Věk členů</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div echarts [options]="membersAgeOptions" class="demo-chart"></div>
                </mat-card-content>
                <mat-card-footer>
                    <mat-progress-bar mode="indeterminate" *ngIf="membersLoading"></mat-progress-bar>
                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex.gt-lg="33" fxFlex.gt-md="48" fxFlex="100">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Nejpoctivější docházka:</mat-card-title>
                </mat-card-header>
                <mat-card-content *ngIf="membersByAttendance">
                    <div *ngFor="let m of membersByAttendance">
                        <p>{{m.name}} {{m.surname}} - {{ m.attendance_count }}</p>
                    </div>
                </mat-card-content>
                <mat-card-footer>

                </mat-card-footer>
            </mat-card>
        </div>
        <div fxFlex.gt-lg="33" fxFlex.gt-md="48" fxFlex="100">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Nejbližší narozeniny:</mat-card-title>
                </mat-card-header>
                <mat-card-content *ngIf="soonestBirthday">
                    <h2 class="text-center">Jméno: {{ soonestBirthday.getFullName() }}</h2>
                    <h2 class="text-center">Narozeniny: {{ soonestBirthday.getBirthday() }}</h2>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>