<h1 class="main-heading">Bodování a odznaky členů</h1>

<mat-tab-group class="mat-elevation-z4">
    <mat-tab label="Bodování">
        <div fxLayout="row" fxLayoutAlign="start center" class="page-actions" fxLayoutGap="16px">
            <button mat-raised-button color="primary" (click)="addBulkPoints()">
                <mat-icon fxShow.xs="true" fxShow.gt-xs="false">add</mat-icon>
                <span fxShow.xs="false">Přidat body</span>
            </button>
            <mat-checkbox class="example-margin"
                    [(ngModel)]="sumParams.currentSchoolyear" (change)="fetchDataFromServer()">
                Zobrazit členy jen tohoto školního roku
            </mat-checkbox>
            <mat-divider inset vertical></mat-divider>
            <mat-checkbox class="example-margin"
                    [(ngModel)]="sumParams.schoolyearSum" (change)="fetchDataFromServer()">
                Zobrazit body jen za tento školní rok
            </mat-checkbox>
        </div>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
        <table mat-table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Jméno člena</th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/edit-member/' + element.member_id]" routerLinkActive="router-link-active"
                        class="link-name">{{ element.name }}
                        {{ element.surname }}</a>
                </td>
            </ng-container>

            <ng-container matColumnDef="sum_points">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Body ze schůzek</th>
                <td mat-cell *matCellDef="let element">{{ element.sum_points }} b.</td>
            </ng-container>

            <ng-container matColumnDef="sum_attendance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Body za docházku</th>
                <td mat-cell *matCellDef="let element">{{ element.sum_attendance }} b.</td>
            </ng-container>

            <ng-container matColumnDef="sum_events">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Body za docházku</th>
                <td mat-cell *matCellDef="let element">{{ element.sum_event_attendance }} b.</td>
            </ng-container>

            <ng-container matColumnDef="sum_overall">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Body celkem</th>
                <td mat-cell *matCellDef="let element"><strong>{{ element.sum_overall }} b.</strong></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns" [ngClass]="{'gray': !even}">
            </tr>
        </table>
    </mat-tab>
    <mat-tab label="Odznaky">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="page-actions">
            <button mat-raised-button color="primary" (click)="addBadge()">
                <mat-icon fxShow.xs="true" fxShow.gt-xs="false">add</mat-icon>
                <span fxShow.xs="false">Přidat odznak</span>
            </button>
        </div>

        <table mat-table [dataSource]="badgeDataSource" matSort>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Jméno člena</th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/edit-member/' + element.id]" routerLinkActive="router-link-active"
                        class="link-name">{{ element.name }}
                        {{ element.surname }}</a>
                </td>
            </ng-container>
            <ng-container matColumnDef="badges">
                <th mat-header-cell *matHeaderCellDef> Získané odznaky </th>
                <td mat-cell *matCellDef="let row">
                    <img *ngFor="let b of row.badge" matTooltip="{{b.name}}" matTooltipPosition="above"
                        class="badge-table" src="/assets/badges/{{b.logo}}" />
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedBadgesColumns"></tr>
            <tr mat-row *matRowDef="let row; let even = even; columns: displayedBadgesColumns"
                [ngClass]="{'gray': !even}"></tr>

        </table>
    </mat-tab>
</mat-tab-group>