<h2 mat-dialog-title>Přidat body členům</h2>

<div mat-dialog-content>
    <form #form="ngForm" fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="60" class="member-list-container">
            <mat-selection-list
                #memberList
                [(ngModel)]="selectedMembers"
                name="selectedMembers"
                (ngModelChange)="onModelChange($event)"
                required>
                @for (m of allMembers; track m.id) {
                    <mat-list-option [value]="m">{{ m.name }} {{ m.surname }}</mat-list-option>
                }

            </mat-selection-list>
            @if (form.submitted && selectedMembers.length === 0) {
                <p class="error-text">
                    Vyberte alespoň jednoho člena.
                </p>
            }
            <p>
                Options selected: {{ selectedMembers.length }}
            </p>
        </div>
        <div fxLayout="column" fxLayoutGap="8px">
            <mat-form-field appearance="fill">
                <mat-label>Počet bodů</mat-label>
                <input
                        type="number"
                        matInput
                        placeholder="Zadejte počet bodů"
                        [(ngModel)]="points"
                        name="points"
                        required>

                @if (form.submitted && !points) {
                    <mat-error>Zadejte počet bodů.</mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Důvod</mat-label>
                <mat-select [(ngModel)]="selectedReason" name="selectedReason" required>
                    @for (r of reasons; track r.id) {
                        <mat-option [value]="r.id">{{ r.name }}</mat-option>
                    }
                </mat-select>
                @if (form.submitted && !selectedReason) {
                    <mat-error>Vyberte důvod.</mat-error>
                }
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Datum</mat-label>
                <input
                        matInput
                        [matDatepicker]="picker"
                        placeholder="Vyberte datum"
                        [(ngModel)]="created_at"
                        name="date"
                        required>
                <mat-hint>DD. MM. RRRR</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>

                @if (form.submitted && !created_at) {
                    <mat-error>Vyberte datum.</mat-error>
                }
            </mat-form-field>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Zrušit</button>
    <button
            mat-raised-button
            (click)="submit(form)"
            color="primary"
            [disabled]="form.invalid">
        <mat-icon>save</mat-icon>
        Uložit
    </button>
</div>