<h2 mat-dialog-title>Přidat body členům</h2>

<div mat-dialog-content>
    <div fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="60" class="member-list-container">
            <mat-selection-list #memberList [(ngModel)]="selectedMembers" (ngModelChange)="onModelChange($event)">
                <mat-list-option *ngFor="let m of allMembers" [value]="m">
                    {{m.name}} {{m.surname}}
                </mat-list-option>
            </mat-selection-list>
            <p>
                Options selected: {{selectedMembers.length}}
            </p>
        </div>
        <div fxLayout="column" fxLayoutGap="8px">
            <mat-form-field appearance="fill">
                <mat-label>Počet bodů</mat-label>
                <input type="number" matInput placeholder="Zadejte počet bodů" [(ngModel)]="points">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Důvod</mat-label>
                <mat-select [(ngModel)]="selectedReason">
                    <mat-option *ngFor="let r of reasons" [value]="r.id">{{ r.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Zrušit</button>
    <button mat-raised-button (click)="submit()" color="primary">
        <mat-icon>save</mat-icon>
        Uložit
    </button>
</div>