<h2 mat-dialog-title>Přidat člena do školního roku {{ schoolyear.label }}</h2>

<div mat-dialog-content>
    <div fxFlex fxLayout="column" fxLayoutAlign="center stretch" fxFill>
        @if (members) {
            <transfer-list [availableOptions]="members" [(selectedOptions)]="selectedMembers" [config]="listConfig"></transfer-list>
        } @else {
            <div fxFlex fxLayout="column" fxLayoutAlign="center center">
                <mat-spinner></mat-spinner>
            </div>
        }
    </div>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Zrušit</button>
    <button mat-raised-button (click)="submit()" color="primary">
        <mat-icon>save</mat-icon>
        Uložit
    </button>
</div>