<h1 *ngIf="event">Detail akce {{ event.name }}</h1>
<div class="page-actions" fxLayout="row" fxLayoutGap="16px">
    <button (click)="goBack()" mat-raised-button color="primary">
        <mat-icon>arrow_back</mat-icon>
        Zpět
    </button>
    <button (click)="addMembersToEvent()" mat-raised-button color="primary">
        <mat-icon>person_add</mat-icon>
        Přidat členy
    </button>
</div>
<div fxLayout="column" fxLayoutGap="24px grid">
    <div fxLayout="row wrap" fxLayoutGap="24px grid">
        <kpi-card *ngIf="event" [settings]="eventKpi" fxFlex.gt-md="25" fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100"></kpi-card>
        <kpi-card *ngIf="event" [settings]="eventPercentageKpi" fxFlex.gt-md="25" fxFlex.gt-sm="33" fxFlex.gt-xs="50" fxFlex="100"></kpi-card>
    </div>
    <div>
        <mat-card fxFlex.lt-md="100" fxFlex.gt-sm="60" fxFill>
            <mat-card-header>
                <mat-card-title *ngIf="event">Účastníci akce</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-progress-bar mode="indeterminate" *ngIf="participantsLoading"></mat-progress-bar>
                <table mat-table [dataSource]="eventMembersDataSource" matSort class="mat-elevation-z1">
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Název akce</th>
                        <td mat-cell *matCellDef="let element">
                            <a [routerLink]="['/events/' + element.id]" routerLinkActive="router-link-active"
                                class="link-name">{{ element.name }}</a>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Akce</th>
                        <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                            <button mat-icon-button color="warn" matTooltip="Odstranit" matTooltipPosition="right"
                                aria-label="Odstranit" (click)="removeMember(element.id)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>