/* Host style */
:host {
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.mat-mdc-dialog-content {
    max-height: calc(100% - 30px);
}

.close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: transparent;
    box-shadow: none !important;

    &:hover, &:focus, &:active {
        background-color: transparent;
        box-shadow: none !important;
    }
}

.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 20px;
    position: relative;

    user-select: none;
    -webkit-user-select: none;
}

.nav-zone {
  position: absolute;
  z-index: 10;
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none !important;
  -webkit-tap-highlight-color: transparent;

  &.left, &.right {
    top: 0;
    bottom: 0;
    width: 50%;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 15;
    cursor: help;
  }
}

.image-name {
    position: absolute;
    bottom: 20px;
    text-align: center;
    font-size: 3em;
    text-shadow: 0 0 10px #ffffff;
    z-index: 20;
    pointer-events: none;
}

img {
  -webkit-user-drag: none;
  user-drag: none;
  pointer-events: none;
}