<h2 mat-dialog-title>Přidat body členovi</h2>

<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Jméno člena</mat-label>
        <mat-select [(ngModel)]="points.member_id">
            <mat-option *ngFor="let m of allMembers" [value]="m.id">{{ m.name }} {{ m.surname }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Počet bodů</mat-label>
        <input type="number" matInput placeholder="Zadejte počet bodů" [(ngModel)]="points.points">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Důvod</mat-label>
        <mat-select [(ngModel)]="points.reason_id">
            <mat-option *ngFor="let r of reasons" [value]="r.id">{{ r.name }}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Zrušit</button>
    <button mat-raised-button (click)="submit()" color="primary">
        <mat-icon>save</mat-icon>
        Uložit
    </button>
</div>