tr.detail-row {
    height: 0;
    img {
        cursor: pointer;

        &.review{
            border: 2px solid #f44336;
        }
    }
}

.example-element-row td {
    border-bottom-width: 0;
}

.element-description {
    padding: 16px;
}