

.sticky-column {
    width: 80px;
}

.mat-column-role {
    width: 35px;
}

.table-container {
    overflow: auto;
}

table {
    min-width: 1300px;
}

.check-column {
    width: 50px;
}

.dash {
    color: #bbb;
}
