<h1>Add attendance</h1>
<mat-card class="small">
    <mat-form-field>
        <input matInput [matDatepicker]="attendanceDate" placeholder="Select date" [formControl]="date" />
        <mat-datepicker-toggle matSuffix [for]="attendanceDate"></mat-datepicker-toggle>
        <mat-datepicker #attendanceDate></mat-datepicker>
    </mat-form-field>

    <mat-selection-list #aaa>
        <mat-list-option *ngFor="let member of members" (click)="selectMember(el)">
            {{ member.name }} {{ member.surname }}
        </mat-list-option>
    </mat-selection-list>
    <mat-divider></mat-divider>
    <p>
        Members selected: <strong>{{ aaa.selectedOptions.selected.length }}</strong>
    </p>
</mat-card>
