<h2 mat-dialog-title>Přidat odznaky členům</h2>

<div mat-dialog-content>
    <form #form="ngForm" fxLayout="row" fxLayoutGap="16px">
        <div fxFlex="60" class="member-list-container">
            <mat-selection-list #memberList [(ngModel)]="selectedMembers" name="selectedMembers" (ngModelChange)="onModelChange($event)" required>
                <mat-list-option *ngFor="let m of allMembers" [value]="m">
                    {{m.name}} {{m.surname}}
                </mat-list-option>
            </mat-selection-list>
            <p *ngIf="form.submitted && selectedMembers.length === 0" class="error-text">
                Vyberte alespoň jednoho člena.
            </p>
            <p>
                Options selected: {{selectedMembers.length}}
            </p>
        </div>
        <div fxLayout="column" fxLayoutGap="8px">
            <mat-form-field appearance="fill">
                <mat-label>Odznak</mat-label>
                <mat-select [(ngModel)]="selectedBadge" name="badge" required>
                    <mat-option *ngFor="let b of badges" [value]="b.id">{{ b.name }}</mat-option>
                </mat-select>
                <mat-error *ngIf="form.submitted && !selectedBadge">Vyberte odznak.</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Datum</mat-label>
                <input
                        matInput
                        [matDatepicker]="picker"
                        placeholder="Vyberte datum"
                        [(ngModel)]="created_at"
                        name="created_at"
                        required>
                <mat-hint>DD. MM. RRRR</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="form.submitted && !created_at">Vyberte datum.</mat-error>
            </mat-form-field>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Zrušit</button>
    <button mat-raised-button (click)="submit(form)" color="primary" [disabled]="form.invalid">
        <mat-icon>save</mat-icon>
        Uložit
    </button>
</div>