@if (member) {
    <h1>Upravit člena "{{ member.getFullName() }}"</h1>
}
<div class="page-actions">
    <button (click)="goBack()" mat-raised-button color="primary">
        <mat-icon>arrow_back</mat-icon>
        Zpět
    </button>
</div>
<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px">
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px" fxLayoutAlign="start start">
        <mat-card fxFlex.lt-md="100" fxFlex.md="60" fxFlex.gt-md="50" fxFlexOrder.gt-md="1" fxFlexOrder="2" fxFill>
            <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
                <mat-card-content>
                    <div fxLayout="row wrap" fxLayoutGap="40px">
                        <div fxLayout="column" fxFlex="50" fxFlex.lt-sm="100" fxFill>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Jméno" formControlName="name" required/>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Přijmení" formControlName="surname" required/>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="RC" formControlName="rc"/>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Adresa" formControlName="address"/>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <input matInput placeholder="E-mail" formControlName="email"/>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <textarea matInput placeholder="Kontakt" formControlName="contact"></textarea>
                            </mat-form-field>
                            <mat-form-field class="full-width">
                                <textarea matInput placeholder="requirements" formControlName="requirements"></textarea>
                            </mat-form-field>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start start" fxFlex.lt-sm="100" fxLayoutGap="24px grid">
                            <label>Role:</label>
                            <mat-radio-group formControlName="role">
                                <mat-radio-button value="D">Dítě</mat-radio-button>
                                <mat-radio-button value="V">Vedoucí</mat-radio-button>
                            </mat-radio-group>
                            <mat-checkbox formControlName="application">Přihláška</mat-checkbox>
                            <mat-form-field>
                                <mat-label>Zaplaceno</mat-label>
                                <input matInput [matDatepicker]="paidPicker" formControlName="paid">
                                <mat-datepicker-toggle matSuffix [for]="paidPicker"></mat-datepicker-toggle>
                                <mat-datepicker #paidPicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button type="submit" [disabled]="!memberForm.valid" mat-raised-button color="primary">
                        <mat-icon>save</mat-icon>
                        Uložit změny
                    </button>
                </mat-card-actions>
            </form>
        </mat-card>
        <div fxLayout="column" fxFlexOrder.lt-md="1" fxFlexOrder="2" fxLayoutGap="24px">
            <kpi-card [settings]="kpiSumPoints"></kpi-card>
            <kpi-card [settings]="kpiPoints"></kpi-card>
            <kpi-card [settings]="kpiAttendancePoints"></kpi-card>
        </div>
        <div fxLayout="column" fxFlexOrder.lt-md="1" fxFlexOrder="2" fxLayoutGap="24px">
            <kpi-card [settings]="kpiAttendancePercentage"></kpi-card>
            <kpi-card [settings]="kpiEvents"></kpi-card>
            <kpi-card [settings]="kpiEventsPoints"></kpi-card>
        </div>
    </div>
    <div fxFill>
        <mat-card>
            <mat-card-header>
                @if (member) {
                    <mat-card-title>Bodování člena {{ member.getFullName() }}</mat-card-title>
                }
            </mat-card-header>
            <mat-card-content>
                <mat-tab-group>
                    <mat-tab label="Body">
                        @if (loading) {
                            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                        }
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z1">
                            <ng-container matColumnDef="reason">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Činnost</th>
                                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                            </ng-container>

                            <ng-container matColumnDef="points">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header="points">Body</th>
                                <td mat-cell *matCellDef="let element">{{ element.points }} b.</td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header="created_at">Datum</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.created_at | customDate }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef>Akce</th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button (click)="deletePoints(element)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns"
                                [ngClass]="{'gray': !even}"></tr>
                        </table>
                    </mat-tab>
                    <mat-tab label="Odznaky">
                        <table mat-table [dataSource]="badgeDataSource" matSort class="mat-elevation-z1">
                            <ng-container matColumnDef="badge_name">
                                <th mat-header-cell *matHeaderCellDef>Název odznaku</th>
                                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                            </ng-container>

                            <ng-container matColumnDef="logo">
                                <th mat-header-cell *matHeaderCellDef>Odznak</th>
                                <td mat-cell *matCellDef="let element">
                                    <img matTooltip="{{element.name}}" matTooltipPosition="above" class="badge-table"
                                         src="/assets/badges/{{element.logo}}"/>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef>Datum obdržení</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.pivot.created_at | customDate }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef>Akce</th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button (click)="deleteBadge(element)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="badgesColumns"></tr>
                            <tr mat-row *matRowDef="let row; let even = even; columns: badgesColumns"
                                [ngClass]="{'gray': !even}"></tr>
                        </table>
                    </mat-tab>
                    <mat-tab label="Akce">
                        <table mat-table [dataSource]="eventsDataSource" matSort class="mat-elevation-z1">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Název akce</th>
                                <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                            </ng-container>

                            <ng-container matColumnDef="startDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header="startDate">Začátek akce</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.startDate | date: 'dd. MM. yyyy' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="endDate">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header="endDate">Konec akce</th>
                                <td mat-cell *matCellDef="let element">
                                    {{ element.endDate | date: 'dd. MM. yyyy' }}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header="description">Body</th>
                                <td mat-cell *matCellDef="let element">{{ element.description }}</td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="eventsColumns"></tr>
                            <tr mat-row *matRowDef="let row; let even = even; columns: eventsColumns"
                                [ngClass]="{'gray': !even}"></tr>
                        </table>
                    </mat-tab>
                </mat-tab-group>
            </mat-card-content>
        </mat-card>
    </div>
</div>