<div fxLayout="row" fxLayoutGap="24px grid">
    <div fxFlex="15">
        <mat-card class="cipher-list">
            <mat-card-content>
                <mat-action-list>
                    <divider-with-text>Transpoziční šifry</divider-with-text>
                    @for (item of transpositionCiphers; track item.id) {
                        <button mat-list-item (click)="selectCipher(item.id)">
                            {{ item.name }}
                        </button>
                    }

                    <divider-with-text>Substituční šifry</divider-with-text>
                    @for (item of substituteCiphers; track item.id) {
                        <button mat-list-item (click)="selectCipher(item.id)">
                            {{ item.name }}
                        </button>
                    }

                    <divider-with-text>Morseovka</divider-with-text>
                    @for (item of morseCodeCiphers; track item.id) {
                        <button mat-list-item (click)="selectCipher(item.id)">
                            {{ item.name }}
                        </button>
                    }
                </mat-action-list>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex>
        <div fxLayout="column" fxLayoutGap="8px">
            @switch (selectedCipher) {
                @case (1)  { <pozpatku /> }
                @case (2)  { <pozpatku-slova /> }
                @case (3)  { <pozpatku-znaky /> }
                @case (4)  { <vkladani-znaku /> }
                @case (5)  { <kazde-x-pismeno /> }
                @case (6)  { <prvni-posledni /> }

                @case (9)  { <prvni-pismeno /> }

                @case (10) { <petromilka /> }
                @case (11) { <posunuta-abeceda /> }
                @case (12) { <otocena-abeceda /> }
                @case (13) { <pavouk /> }
                @case (14) { <zlomky /> }

                @case (17) { <morse-code /> }
                @case (18) { <obracena-morseovka /> }
                @case (19) { <obracena-morseovka-pismena /> }
                @case (20) { <morseovka-suda-licha-cisla /> }
                @case (21) { <morseovka-symboly /> }
                @default { <!-- nic --> }
            }
        </div>
    </div>
</div>