<h2 mat-dialog-title>Přidat novou schůzku</h2>

<div mat-dialog-content fxLayout="column" fxLayoutGap="8px">
    <mat-form-field appearance="fill">
        <mat-label>Datum schůzky</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="meetingDate.date">
        <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Popis schůzky</mat-label>
        <textarea matInput
            [(ngModel)]="meetingDate.description"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Zrušit</button>
    <button mat-raised-button (click)="submit()" color="primary">
        <mat-icon>save</mat-icon>
        Uložit
    </button>
</div>