<h2 mat-dialog-title>Přidat novou akci</h2>

<div mat-dialog-content>
    <div fxLayout="row">
        <mat-form-field appearance="fill" fxFill>
            <mat-label>Název akce</mat-label>
            <input matInput placeholder="Zadejte název akce" [(ngModel)]="event.name">
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="16px">
        <mat-form-field appearance="fill">
            <mat-label>Začátek</mat-label>
            <input matInput [matDatepicker]="startpicker" [(ngModel)]="event.startDate">
            <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
            <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Konec</mat-label>
            <input matInput [matDatepicker]="endpicker" [(ngModel)]="event.endDate">
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div fxLayout="row">
        <mat-form-field appearance="fill" fxFill>
            <mat-label>Popis</mat-label>
            <input matInput placeholder="Popis" [(ngModel)]="event.description">
        </mat-form-field>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="cancel()">Zrušit</button>
    <button mat-raised-button (click)="submit()" color="primary">
        <mat-icon>save</mat-icon>
        Uložit
    </button>
</div>