.text-wrapper {
    font-size: calc(3rem + 3vw);
    text-align: center;
    margin: 0;
    margin-top: 1rem;
}

.control-panel {
    width: 400px;
    margin-top: 1rem;
}

mat-slider {
    width: 350px;
}