@use '@angular/material' as mat;

// redefine css variable for dialog:
:root {
    --mat-dialog-container-max-width: 90vw;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: #f1f2f6;
}

mat-card.mat-mdc-card {
    border-radius: 10px;
    &.small {
        max-width: 440px;
    }

    &.medium {
        max-width: 768px;
    }

    &.large {
        max-width: 1248px;
    }
}

mat-card.mat-mdc-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 4px 24px 0 rgba(34,41,47,.1);
    transition: all .3s ease-in-out,background 0s,color 0s,border-color 0s;
}

table.mat-mdc-table {
    width: 100%;

    tr.gray {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f3f3f3;
    }

    .link-name {
        text-decoration: none;
        color: inherit;
    
        &:hover {
            text-decoration: underline;
        }
    }
}

.data-table-img {
    max-height: 50px;
}

th.mat-sort-header-sorted {
    color: black;
}

.content-container {
    padding: 1px 24px;

    &.fix-height {
        padding-top: 0px;
        margin-bottom: 15px;
        margin-top: 0px;
        padding-left: 0;
        padding-right: 0;
    }
}

.page-actions {
    margin-bottom: 16px;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
}

mat-form-field.full-width {
    width: 100%;
}

img.badge-table {
    height: 40px;
    margin-right: 4px;
}

@media only screen and (max-width: 599px) {
    table.mat-mdc-table,
    .table-container {
        margin-left: -20px;
        margin-right: -20px;
        width: 100vw;
    }
}

@media only print {
    .printMe {
        td, th {
            border: 1px solid #333;
            padding: 0;
            text-align: center;
            padding-left: 8px;
        }

        .mat-column-name, .mat-column-date {
            text-align: right;
            padding-right: 8px;
        }
        .mat-column-date {
            text-align: center;
        }
    }

    .check-column {
        text-align: center;
        vertical-align: bottom;

        .mat-icon {
            font-size: 18px;
        }
    }
}

@media only print {
    :not(.printMe), :not(.printMe) *,
    .mat-column-id, .mat-column-actions {
        visibility: hidden;
    }
    .mat-drawer.mat-sidenav,
    .mat-drawer.mat-sidenav * {
        visibility: hidden !important;
    }
    .printMe {
        visibility: visible;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;

        tr.mat-mdc-row {
            height: 32px;
        }
    }

    table.printMe .mat-mdc-cell {
        font-size: 12px;
        .mat-icon {
            display: inline;
        }
    }

    .printMe * {
        visibility: visible;
    }
}

.schoolyear-select.dark-background {
    div.mat-mdc-text-field-wrapper, .mdc-text-field {
        background-color: rgba(100, 10, 10, 0) !important;
    }
    .mat-mdc-select-value-text, .mat-mdc-select-arrow, .mdc-floating-label {
        color: white !important;
    }
}

.full-tab-height .mat-mdc-tab-body-wrapper {
    height: 100%;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1000; 
    background-color: #f3f3f3;
}

.mat-mdc-cell {
    .mdc-linear-progress {
        height: 8px;
        border-radius: 10px;
        .mdc-linear-progress__bar-inner {
            height: 8px;
            border-top-width: 8px;
        }
    }

    mat-progress-bar.red .mdc-linear-progress__bar-inner{
        border-color: red;
    }
    
    mat-progress-bar.orange .mdc-linear-progress__bar-inner{
        border-color: orange;
    }

    mat-progress-bar.yellow .mdc-linear-progress__bar-inner{
        border-color: rgb(255, 244, 0);
    }

    mat-progress-bar.lime .mdc-linear-progress__bar-inner{
        border-color: rgb(153, 241, 0);
    }
    
    mat-progress-bar.green .mdc-linear-progress__bar-inner{
        border-color: rgb(44, 186, 0);
    }
}

/** SnackBar */
.snach-error {
    background-color: #ff0000;
    color: #ffffff;

    &::before {
        content: '! ';
    }
}