@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: #f1f2f6;
}

mat-card.mat-card {
    border-radius: 10px;
    &.small {
        max-width: 440px;
    }

    &.medium {
        max-width: 768px;
    }

    &.large {
        max-width: 1248px;
    }
}

mat-card.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 4px 24px 0 rgba(34,41,47,.1);
    transition: all .3s ease-in-out,background 0s,color 0s,border-color 0s;
}

table.mat-table {
    width: 100%;

    tr.gray {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #f3f3f3;
    }

    .link-name {
        text-decoration: none;
        color: inherit;
    
        &:hover {
            text-decoration: underline;
        }
    }
}

.data-table-img {
    max-height: 50px;
}

th.mat-sort-header-sorted {
    color: black;
}

.content-container {
    padding: 1px 24px;
    margin-top: 64px;

    &.fix-height {
        padding-top: 0px;
        margin-bottom: 15px;
        margin-top: 0px;
        padding-left: 0;
        padding-right: 0;
    }
}

.page-actions {
    margin-bottom: 16px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

mat-form-field.full-width {
    width: 100%;
}

img.badge-table {
    height: 40px;
}

@media only screen and (max-width: 599px) {
    table.mat-table,
    .table-container {
        margin-left: -20px;
        margin-right: -20px;
        width: 100vw;
    }
}

@media only print {
    :not(.printMe), :not(.printMe) * {
        visibility: hidden !important;
    }
    .printMe {
        visibility: visible !important;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;

        tr.mat-row {
            height: 32px;
        }
    }

    table.printMe .mat-cell {
        font-size: 12px;
    }

    .printMe * {
        visibility: visible !important;
    }
}
