@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.elevation-classes();
@include mat.app-background();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-black: (
        50: #eceff1,
        100: #cfd8dc,
        200: #b0bec5,
        300: #90a4ae,
        400: #78909c,
        500: #263238,
        600: #546e7a,
        700: #455a64,
        800: #37474f,
        900: #000a12,
        A100: #cfd8dc,
        A200: #b0bec5,
        A400: #78909c,
        A700: #455a64,
        contrast: (50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: rgba(black, 0.87),
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: rgba(black, 0.87),
                A200: rgba(black, 0.87),
                A400: white,
                A700: white,
        )
);

$mat-lime2: (
        50: #F9FBE7,
        100: #F0F4C3,
        200: #E6EE9C,
        300: #DCE775,
        400: #D4E157,
        500: #9e9d24,
        600: #C0CA33,
        700: #AFB42B,
        800: #9E9D24,
        900: #827717,
        A100: #cfd8dc,
        A200: #9e9d24,
        A400: #78909c,
        A700: #455a64,
        contrast: (50: white,
                100: white,
                200: white,
                300: white,
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: white,
                A200: white,
                A400: white,
                A700: white,
        )
);

$mat-blue2: (
        50: #e1f5fe,
        100: #b3e5fc,
        200: #81d4fa,
        300: #4fc3f7,
        400: #29b6f6,
        500: #03a9f4,
        600: #039be5,
        700: #0288d1,
        800: #0277bd,
        900: #01579b,
        A100: #80d8ff,
        A200: #40c4ff,
        A400: #00b0ff,
        A700: #0091ea,
        contrast: (50: rgba(black, 0.87),
                100: rgba(black, 0.87),
                200: rgba(black, 0.87),
                300: rgba(black, 0.87),
                400: white,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: rgba(black, 0.87),
                A200: rgba(black, 0.87),
                A400: white,
                A700: white,
        )
);

/*$primary: mat.m2-define-palette($mat-black);
$accent:  mat.m2-define-palette($mat-blue2, A200, A100, A400);
$warn:    mat.m2-define-palette($mat-blue2);

$candy-app-theme: mat.define-theme((
        color: (
                primary: $primary,
                tertiary:  $accent,
        ),
));

@include mat.all-component-themes($candy-app-theme);*/

html {
  color-scheme: light;
  @include mat.theme((
          color: mat.$green-palette,
          typography: Roboto,
          density: 0
  ));
}
