<mat-card appearance="outlined">
    <mat-card-content>
        <div fxLayout="row">
            <div>
                <div class="icon-wrapper {{ color() }}">
                    <mat-icon>{{settings.icon}}</mat-icon>
                </div>
            </div>
            <mat-card-header>
                <mat-card-title>{{settings.value}}</mat-card-title>
                <mat-card-subtitle>{{settings.label}}</mat-card-subtitle>
            </mat-card-header>
        </div>
    </mat-card-content>
</mat-card>