<div class="header">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!--Content before waves-->
    <div class="inner-header flex">
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
                <mat-card class="medium" fxFlex.gt-md="20" fxFlex.gt-sm="33" fxFlex.gt-xs="60" fxFlex="90">
                    <mat-card-header>
                        <div mat-card-avatar class="login-logo"></div>
                        <mat-card-title>Attendance</mat-card-title>
                        <mat-card-subtitle>Přihlásit se</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>
                            <mat-form-field appearance="standard" fxFill>
                                <mat-label>Username</mat-label>
                                <input matInput formControlName="username" placeholder="Username"
                                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field appearance="standard" fxFill>
                                <mat-label>Password</mat-label>
                                <input matInput formControlName="password" placeholder="Enter your password"
                                    [type]="hide ? 'password' : 'text'"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            </mat-form-field>
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="accent" [disabled]="loading">
                            Přihlásit se
                            <mat-icon>login</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </form>
        
    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->

</div>
<!--Header ends-->

<!--Content starts-->
<div class="content flex">
    <p>Zalesák Ždánice | 2022 </p>
</div>
<!--Content ends-->